doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      style(type='text/css').
        .body{

            text-align: center;
            width: 75%;
            margin: 3rem auto;
            background: #fff;
            padding: 1rem 2rem;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
        }
        .title {
          margin: 0.6em 10% 0.8em !important;
        }
  body(class="body")
    h2 Hi #{name},
    hr
    p(class='title') Your Registration has been completed.
    //- a(href=url,target="_blank") Reset Password
    hr
    //- p or Manually visit this link
    //- p #{url}
